google-generativeai -q -U
Pillow~=10.1.0
ipython~=8.18.1
pip~=23.2.1
attrs~=23.2.0
tornado~=6.4
Jinja2~=3.1.2
rsa~=4.9
pyasn1~=0.5.1
parso~=0.8.3
jedi~=0.19.1
colorama~=0.4.6
requests~=2.31.0
rich~=13.7.0
cachetools~=5.3.2
certifi~=2023.11.17
urllib3~=2.1.0
packaging~=23.2
typing_extensions~=4.9.0
pandas~=1.5.3
tqdm~=4.66.1
pygame~=2.5.2
numpy~=1.26.3
Pygments~=2.17.2
pytest~=7.4.3
traitlets~=5.14.0
decorator~=5.1.1
matplotlib~=3.8.2
setuptools~=69.0.3
wcwidth~=0.2.12
PyAudio~=0.2.14
idna~=3.4
six~=1.16.0
asttokens~=2.4.1
executing~=2.0.1
pydub~=0.25.1
ffmpeg
gTTS~=2.5.0